@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Amiri:ital,wght@1,700&family=Philosopher:ital,wght@1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .chatpanel>*:nth-child(2)>div>*:nth-child(3)>*:first-child{
        @apply text-white
    } 
    .comment{
        @apply space-y-5 py-5
    }
    .comment>textarea{
        @apply rounded-lg h-40 text-gray-500
    }
    .comment>div{
        @apply w-full flex flex-col space-y-3
        md:flex-row md:space-x-3 md:space-y-0
    }
    .comment>div>*{
        @apply rounded-lg flex-1 text-gray-500
    }
    .comment>div>[type=submit]{
        @apply bg-sky-500 px-2 text-white cursor-pointer
    }

    /* Footer Section */
    .footer>div>a{
        @apply hover:text-white
    }
    
}


@layer components {   
    body{
        @apply bg-gray-300
    }
    .name{
        font-family: 'Philosopher', sans-serif;
        @apply h-10 text-center 
        bg-gradient-to-r from-red-500 via-green-500 to-sky-500
        bg-clip-text text-transparent text-sm tracking-widest
        sm:text-2xl md:text-3xl md:tracking-[10px]
        lg:text-4xl  lg:tracking-[0.5em] 
    }
    .dua{
        @apply text-center  p-2 lg:px-60 lg:py-14 relative
    }
    .dua > .arabic{
        font-family: 'Amiri Quran', serif;
        @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl pb-8 
        bg-gradient-to-r from-violet-600 via-sky-400 to-violet-600
        bg-clip-text text-transparent
    }
    .dua>.amharic{
        @apply text-violet-500 text-xl sm:text-2xl
    }
    .dua>a{
        @apply absolute right-1 top-10 bg-white rounded-full text-yellow-600 
        p-3 flex justify-center items-center animate-bounce
        shadow-lg md:right-10 md:top-20
    }
    .dua>a>:first-child{
        @apply md:mr-2
    }
    .dua>a>:nth-child(2){
        @apply hidden md:block
    }


    /* Feedback Section */
    .feedback{
        @apply my-4  flex flex-row justify-center mx-2
        sm:mx-10 md:mx-16 lg:mx-24 xl:mx-32  2xl:mx-48
    }
    .feedback>:first-child{
        @apply w-1 h-auto bg-red-500
    }
    .feedback>:nth-child(2){
        @apply flex flex-col items-center mt-20
    }
    .chatpanel{
        @apply w-full flex flex-row py-1 relative mb-8
    }
    .chatpanel>:nth-child(1){
        @apply w-10 bg-white
    }
    .chatpanel>:nth-child(1)>div{
        @apply  h-full  bg-gray-300 rounded-tr-3xl
    }
    .chatpanel>:nth-child(2){
        @apply rounded-3xl rounded-tl-none bg-white w-full
    }
    .chatpanel>:nth-child(2)>div{
        @apply flex flex-row p-2 
    }
    .chatpanel>:nth-child(2)>div>:first-child{
        @apply w-14 h-full text-sky-300
    }
    .chatpanel>:nth-child(2)>div>:nth-child(2){
        @apply w-full px-3
    }
    .chatpanel>:nth-child(2)>div>:nth-child(2)>*:first-child{
        @apply text-indigo-600
    }
    .chatpanel>:nth-child(2)>div>:nth-child(2)>*:nth-child(2){
        @apply text-gray-500 text-xs
    }
    .chatpanel>:nth-child(2)>div>:nth-child(3){
       @apply  flex flex-row
    }
    .chatpanel>:nth-child(2)>div>:nth-child(3)>:first-child{
        @apply px-3 py-1 rounded-xl  bg-green-500  my-3
    }
    .chatpanel>:nth-child(2)>div>:nth-child(3)>:first-child{
        @apply whitespace-nowrap
    }
    .chatpanel>:nth-child(2)>p{
        @apply bg-green-50 text-green-500 p-4 rounded-b-3xl
    }
    .chatpanel>:nth-child(3){
        @apply absolute -top-1 -left-2 p-2 rounded-full  bg-green-500
    }
    .more{
        @apply w-40 h-5 text-gray-300 px-4 bg-gradient-to-r from-gray-300 via-blue-500 to-gray-300
    }


    /* Comment Section */
    .comment{
        @apply w-full  flex flex-col justify-center items-center space-y-10
        bg-gray-200
        px-10 sm:px-20 md:px-32 lg:px-40 xl:px-52 2xl:px-60
    }
    
    .comment>*{
        @apply w-full
    }

    /* Footer Section */
    .footer{
        @apply bg-gray-700 py-5 px-20 flex flex-col justify-center
    }
    .footer>div{
        @apply flex flex-col px-10 space-y-3 justify-center items-center mb-3
        md:flex-row md:space-y-0 md:space-x-3

    }
    .footer>div>a{
        @apply w-full bg-gray-500 flex flex-row  items-center px-4 py-1 rounded-lg 
    }
    .footer>div>a:first-child{
        @apply hover:bg-blue-600 
    }
    .footer>div>a:nth-child(2){
        @apply hover:bg-sky-400 
    }
    .footer>div>a:nth-child(3){
        @apply hover:bg-red-500 
    }
    .footer>div>a:nth-child(4){
        @apply hover:bg-gradient-to-r
        hover:from-cyan-300
        hover:via-black 
        hover:to-rose-600
    }
    .footer>div>a:nth-child(5){
        @apply hover:bg-sky-600 
    }
    .footer>div>a>:first-child{
        @apply mr-3
    }
    .footer>p{
        @apply text-center text-white
    }

}


@layer utilities{

}